---
import SocialCard from './fragments/SocialCard.astro';
---

<section class="flex flex-col w-screen m-auto xl:w-[1280px] box-border md:px-5 md:gap-10">
  <SocialCard 
    title="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    image="../../src/assets/318885217_5770817196380064_2150404657571706171_n.webp"
    revert={true}
  />

  <SocialCard 
    title="Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "
    image="../../src/assets/347564385_147795698163420_4086121130140055094_n.webp"
  />

  <SocialCard 
    title="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    image="../../src/assets/313405232-112516738322748-5423319746674495042-n-6500624c4f056.webp"
    revert={true}
  />

  <SocialCard 
  title="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
  image="../../src/assets/318885217_5770817196380064_2150404657571706171_n.webp" 
  />

</section>